{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block ExtraCss %}
    <style>
        label{
            display: block;
        }
    </style>
{% endblock %}
{% block title %}Create Article {% endblock %}
{% block content %}
    
    <div class="container" style="max-width: 1000px;">
        <div class="mt-5">
            <h1 class="fs-2 fw-bold pt-3 pb-3 border-bottom">Create Article</h1>
            <form method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}
                <input type="submit" value="Create" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}